[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
bootstrap-flask = "*"
flask-login = "*"
flask-wtf = "*"
flask-mail = "*"
flask-whooshee = "*"

[requires]
python_version = "3.6"
